/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;

::ng-deep .mat-mdc-dialog-container {
    background-color: #f8f7f3 !important;
}

.mat-mdc-dialog-surface {
    background-color: #f8f7f3 !important;
}